*{
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}
.menu{
    background-color: #2e2d2d;
}

.menu ul{
    max-width: 800px;
    list-style: none;
    padding: 0;
    background-color: #2e2d2d;
}

.menu ul li {
    display:inline;
}

.menu ul li a {
    padding: 20px;
    color: #fff;
    display:inline-block;
    text-decoration: none;
    transition: background .5s;
}
.menu ul li a:hover {
    background-color:rgb(77, 196, 122);
}